<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gandaedukasi.gandaedukasi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".MenuActivity"
            android:label="Main Menu" />
        <activity
            android:name=".ProgramEdukasiActivity"
            android:label="Program Edukasi" />
        <activity
            android:name=".PaymentActivity"
            android:label="Pembayaran" />
        <activity
            android:name=".CariPengajarActivity"
            android:icon="@drawable/cari_pengajar"
            android:label="Cari Pengajar" />
        <activity android:name=".DetailPengajarActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".EditProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".JadwalActivity"
            android:label="Jadwal" />
        <activity
            android:name=".PertemuanActivity"
            android:label="Pertemuan" />
        <activity
            android:name=".DetailPertemuanActivity"
            android:label="Pertemuan" />
        <activity android:name=".GandaKidsActivity" />
        <activity android:name=".KidsAssignSchActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ListMapelJadwalActivity" />
        <activity android:name=".PilihPaketctivity" />
        <activity android:name=".BuatJadwalActivity" />
        <activity android:name=".DetailJadwalActivity" />
        <activity android:name=".DetailProgramEdukasiActivity" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RatingActivity" />
        <activity android:name=".PembayaranCashActivity" />
        <activity android:name=".PembayaranTransferActivity" />
        <activity android:name=".DetailPaymentActivity" />
        <activity android:name=".DetailArticleActivity" />
        <activity android:name=".RescheduleActivity" />
        <activity android:name=".CancelJadwalActivity" />
        <activity android:name=".CariKodePosActivity"></activity>
    </application>

</manifest>